<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>¡Esta misma pagina!</h2>
            <p>Esta pagina fue parte de un curso en el cual aprendí a programar los lenguajes que me permitieron crearla, cuenta con un pequeño sistema de cuentas de usuario que permite la adicion y edicion de todos los datos que se ven mediante unos simples botones y espacios de texto</p>
        </div>

    </div>

</div>