<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
        <p> Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Hola! Soy Maxi y soy un nuevo programador. Decidí dedicarme a esto debido a que solia encontrarme incomodidades en los programas que utilizaba o algun problema reparable pero carecia del conocimiento ademas siempre me gustó crear y sentir la satisfaccion de verla funcionar. Busco aprender nuevos lenguajes de programacion para expandir mis posibilidades. Considero que una de las cosas mas importantes es la comunicacion con mi cliente asi que ¿Por qué no me envias un correo a maximilianoparenti@gmail.com y empezamos a charlar sobre un proyecto?</p>
        </span>
    </div>
</div>