.row {
    padding: 20px;

}
div{
    background-color: #404040;
    text-align: center;
    color: #fdfdfd;
}

@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 2%;
        top: 620px;
    }
}

@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 35%;
        top: 900px;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 40%;
    margin-left: 5px;
    color: #fdfdfd;
}