<div class="row">
    <h1> Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md4 col-lg-4">
        <circle-progress
            [showBackground]="true"
            [showInnerStroke]="true"
            [percent]="50"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1100"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md4 col-lg-4">
        <circle-progress
            [showBackground]="true"
            [showInnerStroke]="true"
            [percent]="20"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1100"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md4 col-lg-4">
        <circle-progress
            [showBackground]="true"
            [showInnerStroke]="true"
            [percent]="20"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1100"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md4 col-lg-4">
        <circle-progress
            [showBackground]="true"
            [showInnerStroke]="true"
            [percent]="20"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1100"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md4 col-lg-4">
        <circle-progress
            [showBackground]="true"
            [showInnerStroke]="true"
            [percent]="20"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1100"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md4 col-lg-4">
        <circle-progress
            [showBackground]="true"
            [showInnerStroke]="true"
            [percent]="20"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1100"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
        ></circle-progress>
    </div>
</div>

<!--     NgCircleProgressModule.forRoot({
      "backgroundColor": "#3d3d3d",
      "radius": 60,
      "maxPercent": 200,
      "units": " Point",
      "unitsColor": "#d1d1d1",
      "outerStrokeGradient": true,
      "outerStrokeWidth": 5,
      "outerStrokeColor": "#3c49fb",
      "outerStrokeGradientStopColor": "#2171f2",
      "innerStrokeColor": "#0490e7",
      "titleColor": "#d1d1d1",
      "subtitleColor": "#d1d1d1",
      "animationDuration": "1100",
      "showSubtitle": false,
      "showInnerStroke": false,
      "startFromZero": false}) -->