.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP {
    width: 100px;
}

#fb{
    width: 35px;
}
#tw{
    width: 35px;
}
#li{
    width: 35px;
    margin-right: 0.5em;
}
#gi{
    width: 35px;
}
#in{
    width: 35px;
    
}
.redes{
    margin-right: 0.5em;
}
.btn{
    border-width: medium;
}

/* para celular*/
@media(max-width:575px){
    .container{
        flex-direction: column;
    }
    
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes img{
        margin: 0.2em;
    }
}
